<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark fixed-top" style="width: 280px; height:100%">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-5">La Nîmes'alerie : Dashboard</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-5">
    <li class="nav-item my-2">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-house-door me-2"></i>
        Accueil
      </a>
    </li>
    <li class="nav-item my-2">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-speedometer2 me-2"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item my-2">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-table me-2"></i>
        Commandes
      </a>
    </li>
    <li class="nav-item my-2">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-grid-3x2-gap me-2"></i>
        Produits
      </a>
    </li>
    <li class="nav-item my-2">
      <a href="#" class="nav-link text-white">
        <i class="bi bi-person me-2"></i>
        Clients
      </a>
    </li>
  </ul>
  <hr>
  <div class="text-center mb-5">
    <h6 class="mb-3">Choix de la période à analyser</h6>
    <app-date-picker></app-date-picker>
  </div>
</div>
